<div class="container">
  <div class="border-bottom">
    <h4>Designation Configuration</h4>
  </div>

  <div class="m-3 row form-group">
    <div class="col-4">
      <label for="designation" class="form-label" required>Designation</label>
    </div>
    <div class="col-8">
      <input type="text" class="form-control" id="designation">
    </div>
  </div>
  <div class="m-3 row form-group">
    <div class="col-4">
      <label for="grade" class="form-label">Grade</label>
    </div>
    <div class="col-8">
      <select class="form-select" aria-label="Grade" id="grade">
        <option selected>Select Grade</option>
        <option value="1">Managing Director & CEO</option>
        <option value="2">Additional Managing Director</option>
        <option value="3">Deputy Managing Director</option>
        <option value="4">Senior Executive Vice President</option>
        <option value="5">Executive Vice President</option>
        <option value="6">Senior Vice President</option>
        <option value="7">Vice President</option>
        <option value="8">Senior Assistant Vice President</option>
        <option value="9">First Assistant Vice President</option>
        <option value="10">Assistant Vice President</option>
        <option value="11">Senior Principal Officer</option>
        <option value="12">Principal Officer</option>
        <option value="13">Senior Officer</option>
        <option value="14">Officer Grade I/II</option>
      </select>
    </div>
  </div>

  <div class="m-3 row form-group">
    <div class="col-4">
      <label for="description" class="form-label">Description</label>
    </div>
    <div class="col-8">
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
  </div>

  <div class="m-3 row">
    <div class="col-12">
      <button type="button" class="btn btn-primary float-end pr-5">Save</button>
    </div>
  </div>
</div>


