<div class="container">
  <div class="border-bottom">
    <h4>Role Configuration</h4>
  </div>

  <div class="m-3 row form-group">
    <div class="col-4">
      <label for="roleName" class="form-label">Role Name</label>
    </div>
    <div class="col-8">
      <input type="text" class="form-control" id="roleName">
    </div>
  </div>
  <div class="m-3 row form-group">
    <div class="col-4">
      <label for="roleDescription" class="form-label">Role Description</label>
    </div>
    <div class="col-8">
      <textarea class="form-control" id="roleDescription" rows="3"></textarea>
    </div>
  </div>

  <div class="m-3 row">
    <div class="col-12">
      <button type="button" class="btn btn-primary float-end pr-5">Save</button>
    </div>
  </div>
</div>

