<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="pt-4">
        <select class="form-select form-select-sm">
          <option selected>English</option>
          <option>Bangla</option>
        </select>
      </div>
    </li>
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <img src="https://github.com/nafizUrRhmn.png" alt="user-image" class="user-avtar"/>
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4> Nafiz ur Rahman </h4>
            <p class="text-muted">Project Admin</p>
            <ng-scrollbar style="height: calc(40vh - 280px)" visibility="hover">
              <a (click)="onLogout()" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Logout</span>
              </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
