<li data-username="Dashboard" class="nav-item coded-hasmenu">
  <a href="javascript:" class="nav-link" (click)="navCollapse($event)">
    <span class="coded-micon" *ngIf="item.icon">
      <i class="{{ item.icon }}"></i>
    </span>
    <span class="coded-mtext">{{ item.title }} </span>
  </a>
  <ul class="coded-submenu">
    <ng-container *ngFor="let item of item.children">
      <app-nav-group *ngIf="item.type == 'parent'" [item]="item"></app-nav-group>
      <app-nav-collapse *ngIf="item.type == 'group'" [item]="item"></app-nav-collapse>
      <app-nav-item *ngIf="item.type == 'component'" [item]="item"></app-nav-item>
    </ng-container>
  </ul>
</li>
